{# templates/auth/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Log In
{% endblock %}

{% block body %}
	<h1>Log In</h1>

	{{ form_start(form) }}
	{{ form_row(form.username) }}
	{{ form_row(form.password) }}

	<button type="submit">Log In</button>
	{{ form_end(form) }}
{% endblock %}

